@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

#header {
  height: 100%;
}
nav {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0.1px;
  height: 80px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 1s ease-in-out;
}

.nav_content {
  display: flex;
  max-width: 720px;
}

.hide {
  height: 0;
}

.nav_button {
  background: #007bc1;
  color: white;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 100px;
  margin: auto 0;
  cursor: pointer;
}

.banner {
  height: 100vh;
  background: #1F4690;
  background-image: url('assets/img1.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.logo {
  position: absolute;
  position: inline
  width: 50px;
  height: 50px;
  top: 80px;
  left: 60px;
}

.btn-banner {
  background: none;
  color: white;
  border: 1px solid white;
  height: 40px;
  width: 180px;
  cursor: pointer;
}

.btn-banner:hover {
  border: none;
  background: white;
  color: #1F4690;
}

#hightlight {
  background: #e5e5e5;
}

.hight1 {
  max-width: 50%;
  margin:0 auto;
  text-align: center;
  padding: 40px 0;
}

.hight2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  margin: 0 25px;
  padding-bottom: 40px;
}

.hight2-card {
  border: 1px solid grey;
  padding: 0 15px;
  position: relative;
  /* display: grid; */
}

.icon {
  position: absolute;
  right: 15px;
  top: 25px;
}

footer {
  background: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.footer_caption {
  color: #e5e5e5;
}

.newsletter-panel {
  color: white;
  position: absolute;
  max-width: 640px;
  width: 50%;
  height: 200%;
  background: #007bc1;
  bottom: 0px;
  left: 0;
  padding: 25px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.btn-email-newsletter {
  color: white;
  background: #ff8000;
  border: none;
  border-radius: 4px;
  height: 22px;
}

.btn-close-newsletter {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media only screen and (max-width: 960px) and (min-width: 480px)  {
  nav {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0.1px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
    transition: all 1s ease-in-out;
  }

  .nav_button {
    height: 30px;
    width: 90px;
  }

  .nav_content {
    padding: 0 15px;
  }

  .nav_caption {
    font-size: 12px;
  }

  .hight2 {
    grid-template-columns: auto auto;
    gap: 25px;
    margin: 0 25px;
    padding-bottom: 40px;
  }

  .newsletter-panel {
    width: 60%;
    height: 200%;
    bottom: 0px;
    left: 0;
    padding: 25px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    height: 110px;
  }

  .nav_button {
    height: 25px;
    width: 80px;
  }

  .nav_content {
    padding: 0 15px;
    display: inline
  }

  .nav_caption {
    font-size: 12px;
  }

  .logo {
    top: 120px;
    left: 30px;
  }
  .hight1 {
    max-width: 75%;
  }

  .hight2 {
    grid-template-columns: auto;
  }

  .newsletter-panel {
    width: inherit;
  }
}
